h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}
li{
  list-style: none;
}
.gallery-list img {
    transform: translateX(-50%);
    opacity: 0;
    transition: all 500ms linear 1000ms;
    object-fit: cover;
}
.gallery-list img.appear{
    transform: translateX(0);
    opacity: 1;
}

